.orders-container{
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  gap: 5%;
}
.orders-container .cart{
  margin: 21px 0;
  width: 30%;
  max-width: 400px;
  border-radius: 8px;
}
.orders-container .btn-close, .orders-container .cart-close{
  display: none;
}